{% extends 'base/main.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="header-bar">
        <a href="{% url 'notes' %}">&#8592; Back</a>
    </div>

    <div class="card-body">
        <form method="POST" action = "">
            {% csrf_token %}
            {{form.media}}
            <label>Title</label>
            <br>
            {{ form.title }} 
            <br><br>
            <label>Description</label>
            {{ form.description|safe }}
            <br>
            <input class="button" type ="submit" value="Submit">
        </form>
    </div>

   
</body>
</html>
{% endblock content %}